.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px;
}
.container button {
    width: 100%;
    height: 10%;
}
.div2 {
    text-align: center;
}
.div2 img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
}
.bettwen {
    display: flexbox;
    justify-content: space-between;
}